@import 'common';

header {
    .circle {}
    .nav {    
        display: flex; 
        justify-content: space-between;
        margin: 40px 40px;
        .left {
            a {
                img {}
            }
            .menu_open {
                a {}
            }
        }
        .right {
            a {}
        }
    }
}
main {
    .intro {
        h1 {}
    }
    .name {
        p {}
    }
    .side_btn {
        button {}

        #page1 {}
        #page2 {}
        #page3 {}
        #page4 {}
    }
    .about {
        h1 {}
        p {
            em {}
        }
    }
}