@import 'common';

body {
    background-color: $bg;
    header, main {
        min-width: 1200px;
    }
    .circle {
        width: 50px; height: 50px;
        border-radius: 50%;
        position: fixed;
        border: 1px solid #333;
        transform: translate(-50%,-50%);
        pointer-events: none;
        transition: 0.1s;
    }
    header {
        .nav {    
            @include flex-row-btw-ct;
            // margin: 40px 40px;
            position: fixed; 
            left: 0; 
            top: 0; 
            z-index: 999;
            width: 100%;
            background-color: rgba($color: #ffffff, $alpha: 0.5);
            border-bottom: 1px solid #333;
            .menu_open {
                @include flex-row-btw-ct;
                a {
                    color: #333;
                    margin-top: 30px; 
                    font-size: 1.5rem;
                    font-weight: 700;
                    margin: 20px 30px;
                    &:hover {
                        color: #FBAE17;
                    }
                    &:first-child {}
                }
            }
            .title_img {
                padding-right: 30px;
                img {
                    width: 180px;
                }
            }
        }
    }
    main {
        .wrap {
            // overflow-x: hidden;
            .section {
                // height: 100vh;
                // width: 100vw;
            }
            .s1 {
                background: $bg;
                position: relative;
                .title {
                    text-align: center;
                    .img1{
                        position: absolute;
                        animation: title 1s infinite ease-in-out alternate;
                    }
                    .img2{}
                }
                .scrolldown {
                    position: absolute;
                    bottom: 30px;
                    left: 50%;
                    transform: translateX(-50%);
                    // background: rgba($color: #000000, $alpha: 0.3);
                    border-radius: 50%;
                    width: 30px;
                    height: 48px;
                    animation: fadeIn 3s both;
                    .mouse_outline {
                        width: 100%;
                        height: 100%;
                        border-radius: 12px;
                        border: 3px solid #333;
                    }
                    .mouse_wheel {
                        width: 4px;
                        height: 12px;
                        border-radius: 2px;
                        background: #333;
                        position: absolute;
                        top: 10px;
                        left: calc(50% - 2px);
                        animation: slideUp50 1s linear reverse infinite;
                    }
                }
            }
            .s2 {
                background-color: #fff;
                .bg {
                    height: 100%;
                    h2 {
                        font-size: 2.7rem;
                        position: relative;
                        padding-top: 40px;
                        padding-left: 95px;
                        letter-spacing: -1.5px;
                        font-weight: 500;
                        margin-left: 80px;
                        margin-top: 200px;
                        &::before {
                            content: '01';
                            font-size: 7rem;
                            font-weight: 700;
                            color: rgba($color: #000, $alpha: 0.1);
                            position: absolute;
                            left: 0;
                            top: -20px;
                        }
                    }

                    .container {
                        margin-top: 50px;
                        display: flex;
                        flex-flow: column;
                        justify-content: center;
                        align-items: center;
                        p {
                            line-height: 36px;
                            font-size: 1.75rem;
                            display: block;
                            margin-bottom: 50px;
                            position: relative;
                            opacity: 0;
                            &::before {
                                content: '';
                                display: inline-block;
                                background: url(../images/bracket.png) no-repeat center;
                                background-size: 42px 58px;
                                width: 20px;
                                height: 58px;
                                position: absolute;
                                top: -5px;
                                left: -30px;
                            }
                            &::after {
                                content: '';
                                display: inline-block;
                                background: url(../images/bracket_02.png)no-repeat center;
                                background-size: 42px 58px;
                                width: 20px;
                                height: 58px;
                                position: absolute;
                                top: -1px;
                                right: -26px;
                            }
                            em {
                                font-size: 2.25rem;
                                font-weight: 700;
                                transition: all 0.2s ease-in-out;
                                cursor: pointer;
                                display: inline-block;
                                &:hover {
                                    animation: swing 1s ease;
                                    animation-iteration-count: 1;
                                    color: #FBAE17;
                                }
                            }
                        }
                        .content {
                            display: flex;
                            width: 100%;
                            justify-content: center;
                            align-items: center;
                            .left {
                                margin-right: 80px;
                                img {
                                    width: 350px;
                                    height: 400px;
                                }
                            }
                            .desc {
                                .education {
                                    @include flex-col-st;
                                    .title {
                                        font-size: 2rem;
                                        margin-bottom: 20px;
                                    }
        
                                    :nth-child(1) {}
                                    :nth-child(2) {
                                        font-size: 1.25rem;
                                        margin-bottom: 15px;
                                        &::before {
                                            content: '';
                                            width: 5px;
                                            height: 5px;
                                            background-color: #333;
                                            border-radius: 50%;
                                            display: inline-block;
                                            margin-right: 8px;
                                            position: relative;
                                            top: -4px;
                                        }
                                    }
                                    :nth-child(3) {
                                        font-size: 1.125rem;
                                        margin-bottom: 10px;
                                        &::before {
                                            content: '';
                                            width: 6px;
                                            height: 1px;
                                            background-color: #333;
                                            border-radius: 50%;
                                            display: inline-block;
                                            margin-right: 8px;
                                            position: relative;
                                            top: -5px;
                                        }
                                    }
                                    :nth-child(4) {
                                        font-size: 1.125rem;
                                        &::before {
                                            content: '';
                                            width: 6px;
                                            height: 1px;
                                            background-color: #333;
                                            border-radius: 50%;
                                            display: inline-block;
                                            margin-right: 8px;
                                            position: relative;
                                            top: -5px;
                                        }
                                    }
                                }
                                .program {
                                    margin-top: 50px;
                                    .title {
                                        font-size: 2rem;
                                        display: block;
                                        margin-bottom: 20px
                                    }
                                    .name {
                                        display: flex;
                                        .col1 {
                                            @include flex-col-st;
                                            margin-right: 100px;
                                            span {
                                                padding-bottom: 10px;
                                                &::before {
                                                    content: '';
                                                    width: 5px;
                                                    height: 5px;
                                                    background-color: #333;
                                                    border-radius: 50%;
                                                    display: inline-block;
                                                    margin-right: 8px;
                                                    position: relative;
                                                    top: -2px;
                                                }
                                            }
                                        }
                                        .col2 {
                                            @include flex-col-st;
                                            span {
                                                padding-bottom: 10px;
                                                &::before {
                                                    content: '';
                                                    width: 5px;
                                                    height: 5px;
                                                    background-color: #333;
                                                    border-radius: 50%;
                                                    display: inline-block;
                                                    margin-right: 8px;
                                                    position: relative;
                                                    top: -2px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .s3 {
                background-color: $bg;
                .bg {
                    height: 700px;
                    display: flex;
                    h2 {
                        font-size: 2.7rem;
                        position: relative;
                        padding-top: 40px;
                        padding-left: 95px;
                        letter-spacing: -1.5px;
                        font-weight: 500;
                        margin-left: 80px;
                        height: 150px;
                        &::before {
                            content: '02';
                            font-size: 7rem;
                            font-weight: 700;
                            color: rgba($color: #000, $alpha: 0.1);
                            position: absolute;
                            left: 0;
                            top: -20px;
                        }
                    }
                    .container {
                        display: flex;
                        flex-flow: column;
                        align-items: flex-start;
                        justify-content: center;
                        padding-left: 200px;
                        .top {
                            display: flex;
                            flex-flow: column;
                            .front_skill {
                                span {
                                    font-size: 1.25rem;
                                    border: 1px solid #333;
                                    border-radius: 25px;
                                    padding: 5px 10px;
                                    letter-spacing: -0.5px;
                                    font-weight: 500;
                                    &:last-child {
                                        font-size: 1rem;
                                        border: 0;
                                        &:hover {
                                            color: #FBAE17;
                                        }
                                    }
                                }
                            }
                            .skill_contents {
                                opacity: 0;
                                display: flex;
                                .item {
                                    align-items: center;
                                    justify-content: center;
                                    display: flex;
                                    width: 90px;
                                    height: 90px;
                                    overflow: hidden;
                                    margin-top: 40px;
                                    margin-right: 40px;
                                    position: relative;
                                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                                    transition: 0.5s ease;
                                    &:hover {
                                        padding-left: 320px;
                                        height: 120px;
                                        border-radius: 10px;
                                    }

                                    .skill {
                                        background-color: #E8DED6;
                                        width: 100px;
                                        height: 100px;
                                        @include flex-row-ct-ct;
                                        img {
                                            width: 50%;
                                            height: 50%;
                                        }
                                    }

                                    .desc {
                                        background-color: #E8DED6;
                                        position: absolute;
                                        width: 220px;
                                        height: 100%;
                                        left: 100px;
                                        top: 0;
                                        text-align: start;
                                        padding-top: 15px;
                                        padding-right: 10px;
                                        .name {
                                            font-size: 1.125rem;
                                            font-weight: 700;
                                            margin-bottom: 5px;
                                        }
                                        .desc_txt {
                                            font-size: 0.875rem;
                                            line-height: 1.5;
                                        }
                                    }
                                }
                                .item1 {
                                    background: #E8DED6 url(../images/icon/html_2.png) no-repeat 20px center;
                                    background-size: 50px;
                                    text-align: center;
                                }
                                .item2 {
                                    background: #E8DED6 url(../images/icon/css2.png) no-repeat 20px center;
                                    background-size: 50px;
                                    text-align: center;
                                }
                                .item3 {
                                    background: #E8DED6 url(../images/icon/sass1.png) no-repeat 20px center;
                                    background-size: 50px;
                                    text-align: center;
                                }
                                .item4 {
                                    background: #E8DED6 url(../images/icon/js1.jpg) no-repeat 20px center;
                                    background-size: 50px;
                                    text-align: center;
                                }
                                .item5 {
                                    background: #E8DED6 url(../images/icon/react.svg) no-repeat 20px center;
                                    background-size: 50px;
                                    text-align: center;
                                }
                                .item6 {
                                    background: #E8DED6 url(../images/icon/jq2.png) no-repeat 20px center;
                                    background-size: 50px;
                                    text-align: center;
                                }
                                .item7 {
                                    background: #E8DED6 url(../images/icon/php.png) no-repeat 20px center;
                                    background-size: 50px;
                                    text-align: center;
                                    .skill7 {
                                        img {
                                            width: 60%;
                                            height: 30%;
                                        }
                                    }
                                }
                            }
                        }
                        .bottom {
                            display: flex;
                            flex-flow: column;
                            margin-top: 80px;
                            .using_tool {
                                span {
                                    font-size: 1.25rem;
                                    border: 1px solid #333;
                                    border-radius: 25px;
                                    padding: 5px 10px;
                                    letter-spacing: -0.5px;
                                    font-weight: 500;
                                }
                            }
                            .skill_contents {
                                opacity: 0;
                                display: flex;
                                .item {
                                    align-items: center;
                                    justify-content: center;
                                    display: flex;
                                    width: 90px;
                                    height: 90px;
                                    overflow: hidden;
                                    margin-top: 40px;
                                    margin-right: 40px;
                                    position: relative;
                                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                                    transition: 0.5s ease;
                                    .skill {
                                        background-color: #E8DED6;
                                        width: 100px;
                                        height: 100px;
                                        @include flex-row-ct-ct;
                                        img {
                                            width: 50%;
                                            height: 50%;
                                        }
                                    }
                                    &:hover {
                                        padding-left: 320px;
                                        height: 120px;
                                        border-radius: 10px;
                                    }
                                    .desc {
                                        background-color: #E8DED6;
                                        position: absolute;
                                        width: 220px;
                                        height: 100%;
                                        left: 100px;
                                        top: 0;
                                        text-align: start;
                                        padding-top: 15px;
                                        padding-right: 10px;
                                        .name {
                                            font-size: 1.125rem;
                                            font-weight: 700;
                                            margin-bottom: 5px;
                                        }
                                        .desc_txt {
                                            font-size: 0.875rem;
                                            line-height: 1.5;
                                        }
                                    }
                                }
                                .item1 {
                                    background: #E8DED6 url(../images/icon/gpt2.webp) no-repeat 20px center;
                                    background-size: 50px;
                                    text-align: center;
                                }
                                .item2 {
                                    background: #E8DED6 url(../images/icon/illustrator.png) no-repeat 20px center;
                                    background-size: 50px;
                                    text-align: center;
                                }
                                .item3 {
                                    background: #E8DED6 url(../images/icon/ph1.png) no-repeat 20px center;
                                    background-size: 50px;
                                    text-align: center;
                                }
                                .item4 {
                                    background: #E8DED6 url(../images/icon/figma2.png) no-repeat 20px center;
                                    background-size: 50px;
                                    text-align: center;
                                }
                                .item5 {
                                    background: #E8DED6 url(../images/icon/notion1.png) no-repeat 20px center;
                                    background-size: 50px;
                                    text-align: center;
                                }
                                .item6 {
                                    background: #E8DED6 url(../images/icon/github1.png) no-repeat 20px center;
                                    background-size: 50px;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
            .s4 {
                background-color: #fff;
                .bg {
                    height: 700px;
                    h2 {
                        font-size: 2.7rem;
                        position: relative;
                        padding-top: 40px;
                        padding-left: 95px;
                        letter-spacing: -1.5px;
                        font-weight: 500;
                        margin-left: 80px;
                        height: 150px;
                        &::before {
                            content: '03';
                            font-size: 7rem;
                            font-weight: 700;
                            color: rgba($color: #000, $alpha: 0.1);
                            position: absolute;
                            left: 0;
                            top: -20px;
                        }
                    }
                    .container {
                        display: flex;
                        align-items: center;
                        .left {
                            display: flex;
                            align-items: center;
                            width: 50%;
                            height: 500px;
                            margin-left: 100px;
                            img {
                                width: 85%;
                            }
                        }
                        .right {
                            opacity: 0;
                            position: relative;
                            margin-left: 50px;
                            .title {
                                position: relative;
                                img {
                                    position: absolute;
                                    top: -70px;
                                    left: -60px;

                                }
                                .site_name {
                                    font-size: 2rem;
                                    padding-bottom: 20px;
                                    margin-bottom: 30px;
                                    border-bottom: 1px solid #333;
                                }
                            }
                            .content {
                                display: flex;
                                margin-bottom: 50px;
                                .title {
                                    margin-bottom: 10px;
                                    display: flex;
                                    flex-flow: column;
                                    margin-right: 20px;
                                    p {
                                        font-size: 1.125rem;
                                        margin-bottom: 10px;
                                    }
                                }
                                .desc {
                                    display: flex;
                                    flex-flow: column;
                                    p {
                                        font-size: 1.125rem;
                                        margin-bottom: 10px;
                                    }
                                }
                            }
                        }
                    }
                    .link {
                        display: flex;
                        align-items: center;

                        a {
                            font-size: 1.5rem;
                            padding: 5px 10px;
                            border: 1px solid #333;
                            border-radius: 10px;
                            margin-right: 10px;
                            font-weight: 600;
                            letter-spacing: -0.5px;
                            transition: all 0.2s ease-in-out;
                            &:hover {
                                box-shadow: 1px 1px #666, 2px 2px #666, 3px 3px #666;
                                transform: translateX(-3px);
                            }
                        }
                    }
                }
            }
            .s5 {
                background-color: #fff;
                overflow: hidden;
                width: 100%;
                .bg {
                    height: 700px;
                    h2 {
                        font-size: 2.7rem;
                        position: relative;
                        padding-top: 40px;
                        padding-left: 95px;
                        letter-spacing: -1.5px;
                        font-weight: 500;
                        margin-left: 80px;
                        height: 150px;
                        &::before {
                            content: '03';
                            font-size: 7rem;
                            font-weight: 700;
                            color: rgba($color: #000, $alpha: 0.1);
                            position: absolute;
                            left: 0;
                            top: -20px;
                        }
                    }
                    .content {
                        display: flex;
                        align-items: center;
                        margin-left: 200px;
                        position: relative;
                        z-index: 99;
                        .left {
                            width: 55%;
                            img {
                                width: 80%;
                            }
                        }
                        .right {
                            position: relative;
                            margin-top: 30px;
                            .title {
                                font-size: 2rem;
                                padding-bottom: 20px;
                                margin-bottom: 20px;
                                position: relative;
                                font-weight: 600;
                                &::after {
                                    width: 500px;
                                    height: 1px;
                                    content: '';
                                    display: inline-block;
                                    background-color: #333;
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                }
                                span {}
                            }
                            .desc {
                                display: flex;
                                .col1 {
                                    margin-bottom: 10px;
                                    display: flex;
                                    flex-flow: column;
                                    margin-right: 20px;
                                    p {
                                        font-size: 1.125rem;
                                        margin-bottom: 10px;
                                    }
                                }
                                .col2 {
                                    display: flex;
                                    flex-flow: column;
                                }
                            }
                            p {
                                font-size: 1.125rem;
                                margin-bottom: 10px;
                            }
                            .link_icon {
                                display: flex;
                                align-items: center;
                                margin-top: 30px;
                                a {
                                    font-size: 1.5rem;
                                    padding: 5px 10px;
                                    border: 1px solid #333;
                                    border-radius: 10px;
                                    margin-right: 10px;
                                    font-weight: 600;
                                    letter-spacing: -0.5px;
                                    transition: all 0.2s ease-in-out;
                                    &:hover {
                                        box-shadow: 1px 1px #666, 2px 2px #666, 3px 3px #666;
                                        transform: translateX(-3px);
                                    }
                                }
                            }
                        }
                    }
                    .color_bg {
                        // width: 100%;
                        
                        height: 320px;
                        background-color: $bg;
                        position: absolute;
                        top: 350px;
                        left: 0;
                    }
                }
                .link {
                    background: url(../images/link_text_04.png) repeat-x center;
                    background-size: 70%;
                    width: 100%;
                    height: 60px;
                    position: absolute;
                    z-index: 30;
                    bottom: 0;
                    animation: loop 50s infinite linear;
                    margin-bottom: 40px;
                }
            }
            .s6 {
                background-color: #fff;
                .bg {
                    height: 730px;
                    
                    h2 {
                        font-size: 2.7rem;
                        position: relative;
                        padding-top: 40px;
                        padding-left: 95px;
                        letter-spacing: -1.5px;
                        font-weight: 500;
                        margin-left: 80px;
                        height: 150px;
                        &::before {
                            content: '04';
                            font-size: 7rem;
                            font-weight: 700;
                            color: rgba($color: #000, $alpha: 0.1);
                            position: absolute;
                            left: 0;
                            top: -20px;
                        }
                    }
                    .container {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .page1 {
                            width: 300px;
                            height: 620px;
                            background-color: #FBAE17;
                            margin-right: 50px;
                            background: url(../images/page_02.jpg) no-repeat center;
                            .inner {
                                display: flex;
                                flex-flow: column;
                                justify-content: center;
                                align-items: center;
                                background-color: rgba($color: #000000, $alpha: 0.7);
                                width: 300px;
                                height: 620px;
                                p {
                                    font-size: 1.7rem;
                                    font-weight: 700;
                                    color: #fff;
                                }
                                a {
                                    font-size: 1rem;
                                    color: #fff;
                                    font-weight: 500;
                                    background-color: #000;
                                    padding: 6px 15px;
                                    border-radius: 10px;
                                    margin-top: 20px;
                                }
                                .page1_pop {
                                    background-color: rgba(0,0,0, 0.5);
                                    width: 100%;
                                    height: 100vh;
                                    position: fixed;
                                    top: 0;
                                    left: 0;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    z-index: 999;
                                    .page_img {
                                        width: 900px;
                                        height: 900px;
                                        overflow-y: auto;
                                        overflow-x: hidden;
                                        background-color: #fff;
                                        text-align: center;
                                        img {
                                            width: 100%;
                                            padding: 0 20px;
                                        }
                                    }
                                }
                            }
                        }
                        .page2 {
                            width: 300px;
                            height: 620px;
                            background-color: pink;
                            margin-right: 50px;
                            background: url(../images/page_01.jpg) no-repeat center;
                            .inner {
                                display: flex;
                                flex-flow: column;
                                justify-content: center;
                                align-items: center;
                                background-color: rgba($color: #000000, $alpha: 0.7);
                                width: 300px;
                                height: 620px;
                                p {
                                    font-size: 1.7rem;
                                    font-weight: 700;
                                    color: #fff;
                                }
                                a {
                                    font-size: 1rem;
                                    color: #fff;
                                    font-weight: 500;
                                    background-color: #000;
                                    padding: 6px 15px;
                                    border-radius: 10px;
                                    margin-top: 20px;
                                }
                                .page2_pop {
                                    background-color: rgba(0,0,0, 0.5);
                                    width: 100%;
                                    height: 100vh;
                                    position: fixed;
                                    top: 0;
                                    left: 0;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    z-index: 999;
                                    .page_img {
                                        width: 900px;
                                        height: 900px;
                                        overflow-y: auto;
                                        overflow-x: hidden;
                                        background-color: #fff;
                                        text-align: center;
                                        img {
                                            width: 100%;
                                            padding: 0 20px;
                                        }
                                    }
                                }
                            }
                        }
                        .col {
                            display: flex;
                            flex-flow: column;
                            .banner {
                                width: 800px;
                                height: 200px;
                                background-color: aqua;
                                background: url(../images/banner_pop.jpg);
                                .inner {
                                    display: flex;
                                    flex-flow: column;
                                    justify-content: center;
                                    align-items: center;
                                    background-color: rgba($color: #000000, $alpha: 0.7);
                                    width: 800px;
                                    height: 200px;
                                    p {                                    
                                        font-size: 1.7rem;
                                        font-weight: 700;
                                        color: #fff;
                                    }
                                    a {
                                        font-size: 1rem;
                                        color: #fff;
                                        font-weight: 500;
                                        background-color: #000;
                                        padding: 6px 15px;
                                        border-radius: 10px;
                                        margin-top: 20px;
                                    }
                                    .banner_pop {
                                        background-color: rgba(0,0,0, 0.5);
                                        width: 100%;
                                        height: 100vh;
                                        position: fixed;
                                        top: 0;
                                        left: 0;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        z-index: 999;
                                        .bnr_img {
                                            width: 1280px;
                                            height: 400px;
                                            overflow-y: auto;
                                            overflow-x: hidden;
                                            background-color: #fff;
                                            text-align: center;
                                            overflow: hidden;
                                            img {}
                                        }
                                    }
                                }
                            }
                            .poster {
                                display: flex;
                                margin-top: 50px;
                                .poster1 {
                                    width: 375px;
                                    height: 370px;
                                    background-color: tomato;
                                    margin-right: 50px;
                                    background: url(../images/poster_pop_01.jpg);
                                    .inner {
                                        display: flex;
                                        flex-flow: column;
                                        justify-content: center;
                                        align-items: center;
                                        background-color: rgba($color: #000000, $alpha: 0.7);
                                        width: 375px;
                                        height: 370px;
                                        p {
                                            font-size: 1.7rem;
                                            font-weight: 700;
                                            color: #fff;
                                        }
                                        a {
                                            font-size: 1rem;
                                            color: #fff;
                                            font-weight: 500;
                                            background-color: #000;
                                            padding: 6px 15px;
                                            border-radius: 10px;
                                            margin-top: 20px;
                                        }
                                        .poster1_pop {
                                            background-color: rgba(0,0,0, 0.5);
                                            width: 100%;
                                            height: 100vh;
                                            position: fixed;
                                            top: 0;
                                            left: 0;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            z-index: 999;
                                            .poster_img {
                                                width: 840px;
                                                height: 800px;
                                                overflow-y: auto;
                                                overflow-x: hidden;
                                                background-color: #fff;
                                                text-align: center;
                                            }
                                        }
                                    }
                                }
                                .poster2 {
                                    width: 375px;
                                    height: 370px;
                                    background-color: pink;
                                    background: url(../images/poster_pop_02.jpg);
                                    .inner {
                                        display: flex;
                                        flex-flow: column;
                                        justify-content: center;
                                        align-items: center;
                                        background-color: rgba($color: #000000, $alpha: 0.7);
                                        width: 375px;
                                        height: 370px;
                                        p {
                                            font-size: 1.7rem;
                                            font-weight: 700;
                                            color: #fff;
                                        }
                                        a {
                                            font-size: 1rem;
                                            color: #fff;
                                            font-weight: 500;
                                            background-color: #000;
                                            padding: 6px 15px;
                                            border-radius: 10px;
                                            margin-top: 20px;
                                        }
                                        .poster2_pop {
                                            background-color: rgba(0,0,0, 0.5);
                                            width: 100%;
                                            height: 100vh;
                                            position: fixed;
                                            top: 0;
                                            left: 0;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            z-index: 999;
                                            .poster_img {
                                                width: 840px;
                                                height: 800px;
                                                overflow-y: auto;
                                                overflow-x: hidden;
                                                background-color: #fff;
                                                text-align: center;
                                                img {}
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .s7 {
                .bg {
                    h2 {
                        font-size: 2.7rem;
                        position: relative;
                        padding-top: 40px;
                        padding-left: 95px;
                        letter-spacing: -1.5px;
                        font-weight: 500;
                        margin-left: 80px;
                        height: 150px;
                        margin-top: 100px;
                        &::before {
                            content: '04';
                            font-size: 7rem;
                            font-weight: 700;
                            color: rgba($color: #000, $alpha: 0.1);
                            position: absolute;
                            left: 0;
                            top: -20px;
                        }
                    }
                    .content {
                        position: relative;
                        p {
                            font-size: 1.5rem;
                            text-align: center;
                            line-height: 1.5;
                            margin-bottom: 50px;
                        }
                        .arrow {
                            img {
                                width: 50px;
                                position: absolute;
                                top: 20px;
                                right: 530px;
                                // transform: rotate(50deg);
                                animation: swingY 1s ease infinite;
                            }
                        }
                        .type {
                            display: flex;
                            justify-content: center;
                            .qr {
                                background-color: #E8DED6;
                                position: relative;
                                width: 400px;
                                height: 400px;
                                text-align: center;
                                margin-right: 50px;
                                span {
                                    font-size: 1.75rem;
                                    display: block;
                                    padding-top: 20px;
                                }
                                img {
                                    position: absolute;
                                    top: 20%;
                                    left: 50%;
                                    transform: translateX(-50%);
                                }
                            }
                            .email {
                                form {
                                    padding: 20px 0;
                                    display: flex;
                                    flex-flow: column;
                                    align-items: center;
                                    background-color: #E8DED6;
                                    width: 500px;
                                    .my_email {
                                        font-size: 1.75rem;
                                        margin-bottom: 20px;
                                    }
                                    #user_name {
                                        border: 1px solid #333;
                                        display: block;
                                        margin-bottom: 10px;
                                        padding: 5px 10px;
                                        width: 400px;
                                        border-radius: 5px;
                                        background-color: rgba($color: $bg, $alpha: 0.5);
                                        &::placeholder {
                                            font-size: 0.875rem;
                                    }
                                    }
                                    #user_email {
                                        margin-bottom: 10px;
                                        border: 1px solid #333;
                                        display: block;
                                        padding: 5px 10px;
                                        width: 400px;
                                        border-radius: 5px;
                                        background-color: rgba($color: $bg, $alpha: 0.5);
                                        &::placeholder {
                                            font-size: 0.875rem;
                                    }
                                    }
                                    textarea {
                                        width: 400px;
                                        height: 155px;
                                        border-radius: 5px;
                                        padding: 5px 10px;
                                        background-color: rgba($color: $bg, $alpha: 0.5);
                                        &::placeholder {
                                            font-size: 0.875rem;
                                    }
                                    }
                                    #submit_btn {
                                        margin-top: 20px;
                                        border: 1px solid #333;
                                        padding: 10px 20px;
                                        transition: all 0.2s ease-in-out;
                                        border-radius: 4px;
                                        &:hover {
                                            border-radius: 50%;
                                        }
                                    }
                                }
                            }
                        }
                        .copy {
                            font-size: 0.875rem;
                            margin: 50px 0;
                        }
                    }
                }
            }
        }
    }
}



// 애니메이션

@keyframes slideUp50 {
    0% {transform: translateY(0);}
    100% {transform: translateY(-5px);}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes title {
    0% {transform: translateY(0);}
    100% {transform: translateY(-50px);}
}

@keyframes loop {
    0%{background-position-x: 0;}
    100%{background-position-x: 5000px;}
}

@keyframes swing {
15% {
transform: translateX(5px);
}
30% {
transform: translateX(-5px);
}
50% {
transform: translateX(3px);
}
65% {
transform: translateX(-3px);
}
80% {
transform: translateX(2px);
}
100% {
transform: translateX(0);
}
}

@keyframes width {
    0% {
        width: 0;
        opacity: 0;
        transform: scaleX(0);
    }
    100% {
        width: 100%;
        opacity: 1;
        transform: scaleX(1);
    }
}

@keyframes swingY {
    15% {
    transform: translateY(5px);
    }
    30% {
    transform: translateY(-5px);
    }
    50% {
    transform: translateY(3px);
    }
    65% {
    transform: translateY(-3px);
    }
    80% {
    transform: translateY(2px);
    }
    100% {
    transform: translateY(0);
    }
}

// JS용 classList

.hover {
    padding-left: 250px;
    height: 120px;
    transition: 300ms ease;
}

.scale {
    animation: width 1s ease-in-out forwards ;
}

.active {
    color: #FBAE17 !important;
}

.opacity {
    opacity: 1;
}