@import 'common';
body {
    background-color: $bg;
    .circle {
        width: 50px; height: 50px;
        border-radius: 50%;
        position: fixed;
        border: 1px solid #333;
        transform: translate(-50%,-50%);
        pointer-events: none;
        transition: 0.1s;
    }
    header {
        .nav {    
            @include flex-row-btw-ct;
            // margin: 40px 40px;
            position: fixed; 
            left: 0; 
            top: 0; 
            z-index: 999;
            width: 100%;
            background-color: rgba($color: #ffffff, $alpha: 0.5);
            .menu_open {
                @include flex-row-btw-ct;
                a {
                    color: #333;
                    margin-top: 30px; 
                    font-size: 1.5rem;
                    font-weight: 700;
                    margin: 20px 40px;
                    &:first-child {}
                }
            }
        }
    }
    main {
        .wrap {
            overflow-x: hidden;
            .section {
                height: 100vh;
                width: 100vw;
            }
            .s1 {
                background: $bg;
                position: relative;
                .title {
                    text-align: center;
                    .img1{
                        position: absolute;
                        animation: title 1s infinite ease-in-out alternate;
                    }
                    .img2{}
                }
                .scrolldown {
                    position: absolute;
                    bottom: 30px;
                    left: 50%;
                    transform: translateX(-50%);
                    // background: rgba($color: #000000, $alpha: 0.3);
                    border-radius: 50%;
                    width: 30px;
                    height: 48px;
                    animation: fadeIn 3s both;
                    .mouse_outline {
                        width: 100%;
                        height: 100%;
                        border-radius: 12px;
                        border: 3px solid #333;
                    }
                    .mouse_wheel {
                        width: 4px;
                        height: 12px;
                        border-radius: 2px;
                        background: #333;
                        position: absolute;
                        top: 10px;
                        left: calc(50% - 2px);
                        animation: slideUp50 1s linear reverse infinite;
                    }
                }
            }
            .s2 {
                background-color: #fff;
                .bg {
                    height: 600px;
                    h2 {
                        font-size: 2rem;
                        height: 50px;
                        text-align: center;
                        position: relative;
                        &::before {
                            content: '01';
                            font-size: 7rem;
                            font-weight: 700;
                            color: rgba($color: $bg, $alpha: 0.8);
                            position: absolute;
                            left: 75px;
                            top: -25px;
                        }
                    }
                }
            }
            .s3 {
                background-color: $bg;
            }
            .s4 {
                background-color: #fff;
            }
        }
    }
}



// 애니메이션

@keyframes slideUp50 {
    0% {transform: translateY(0);}
    100% {transform: translateY(-5px);}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes title {
    0% {transform: translateY(0);}
    100% {transform: translateY(-50px);}
}
